apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: quickbite-backend-hpa
  namespace: quickbite
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: quickbite-backend
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 70
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80
  behavior:
    scaleUp:
      stabilizationWindowSeconds: 60
      policies:
        - type: Pods
          value: 2
          periodSeconds: 60
    scaleDown:
      stabilizationWindowSeconds: 300
      policies:
        - type: Pods
          value: 1
          periodSeconds: 120
---
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: quickbite-frontend-hpa
  namespace: quickbite
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: quickbite-frontend
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75
